apiVersion: v2
name: external-secrets
description: External secret management for Kubernetes
type: application
version: "0.12.1"
appVersion: "v0.12.1"
upstreamChartVersion: "0.12.1"
kubeVersion: ">= 1.19.0-0"
keywords:
  - kubernetes-external-secrets
  - secrets
home: https://github.com/giantswarm/external-secrets
icon: https://s.giantswarm.io/app-icons/external-secrets/1/light.svg
annotations:
  application.giantswarm.io/team: "honeybadger"
  config.giantswarm.io/version: 1.x.x
restrictions:
  clusterSingleton: true
  namespaceSingleton: true
dependencies:
  - name: bitwarden-sdk-server
    version: v0.3.1
    repository: oci://ghcr.io/external-secrets/charts
    condition: bitwarden-sdk-server.enabled
