apiVersion: v2
name: external-secrets
description: External secret management for Kubernetes
type: application
version: 0.20.5
appVersion: v0.20.4
kubeVersion: '>= 1.30.0-0'
keywords:
  - kubernetes-external-secrets
  - secrets
home: https://github.com/giantswarm/external-secrets
icon: https://s.giantswarm.io/app-icons/external-secrets/1/light.svg
annotations:
  io.giantswarm.application.audience: all
  io.giantswarm.application.restrictions.cluster-singleton: 'true'
  io.giantswarm.application.restrictions.namespace-singleton: 'true'
  io.giantswarm.application.team: honeybadger
  io.giantswarm.application.upstream-chart-version: 0.20.4
dependencies:
  - name: bitwarden-sdk-server
    version: v0.4.2
    repository: oci://ghcr.io/external-secrets/charts
    condition: bitwarden-sdk-server.enabled
